.App {
  text-align: center;
  background-image: linear-gradient(rgb(37, 233, 125), #738572);
  min-height: 100vh;
}

.front-page{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.front-page .left-side {

  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

}
.front-page .right-side {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.front-page .right-side img{
  max-width: 100%;
}

.left-side p{
  font-weight: bold;
}

.header-container nav{
  border-bottom: 5px solid rgb(207, 19, 19);
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #ac903c;
  position: fixed;
  top: 0;
  width: 100%;
}
.box{
  text-decoration: none;
  color: rgb(71, 26, 143);
  background: transparent;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  margin: 0 10px;
}
 .box:hover{
   border: 0;
   box-shadow: 0 0 3px #f5e610 , 0 0 7px #05fff3, 0 0 20px #05ed4b;
 }
.content-container{
  padding-top: 100px;
}

.gallery {
	display: grid;
	grid-template-columns: 4fr 2fr;
}
.gallery-object{
  grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-row-gap: 24px;
	grid-column-gap: 24px;
	padding: 24px;
}

.gallery .display-details {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* padding: 24px; */
}

.gallery-content{
  border: 2px solid;
  box-shadow: 5px 8px rgb(42, 91, 165);
  text-align: left;
  overflow: hidden;
  }
.gallery-content:hover{
  transform: translate(5px,3%);
  cursor: pointer;
}
.gallery-content .hamster-details{
  display: none;
}
.hamster-details li {
  list-style-type: none;
  font-weight: bold;
}

.gallery-content h3 {
	position: sticky;
	z-index: 1;
  text-align: center;
}
.gallery-content:hover .hamster-details {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	list-style-type: none;
	background-color: rgba(208, 236, 236, 0.993);
	color: black;
	height: 200px;
}
 #erase-btn button {
	cursor: pointer;
	font-weight: 600;

}

.gallery-content img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}


button{
  color:rgb(117, 131, 168);
  background-color: rgb(43, 17, 17);
  margin-left: 80px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid black;
}

.input-form {
  border: 2px solid black;
  padding: 2em;
  background-color: blueviolet;
}

.input-form .row {
  display: flex;
  justify-content: space-between;
}

.input-form .input-fields {
  width: 24ch;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-end;
}

.input-form .input-fields input {
  background-color:#faeee7;
  outline: none;
  height: 2em;
  color:  #594a4e;
  font-weight: 600;
}
.input-fields label {
  font-size: 20px;
  margin-bottom: 1em;
  text-align: left;
  font-weight: 600;
}
.input-form .img-holder {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 1px solid #33272a;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form .img-holder img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 5%;
}

.input-form button {
  font-size: 1.1em;
  width: 200px;
  height: 2em;
  border-radius: .5em;
  letter-spacing: 0.1em;
  background-color: #1194e0;
  margin-top: 2em;
  color:rgb(43, 17, 17);
  font-weight: bold;
}

.input-form button:hover {
  width: 260px;
  letter-spacing: 0.4em;
}

.match-winners{
  color:rgb(37, 2, 233);
  margin-left: 40px;
}

.win-over{
  color: black;
}





