.App {
  text-align: center;
  background-image: linear-gradient(rgb(37, 233, 125), #738572);
  min-height: 100vh;
}

.front-page{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.front-page .left-side {

  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

}
.front-page .right-side {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.front-page .right-side img{
  max-width: 100%;
}

.left-side p{
  font-weight: bold;
}

.header-container nav{
  border-bottom: 5px solid rgb(207, 19, 19);
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #ac903c;
  position: fixed;
  top: 0;
  width: 100%;
}
.box{
  text-decoration: none;
  color: rgb(71, 26, 143);
  background: transparent;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  margin: 0 10px;
}
 .box:hover{
   border: 0;
   box-shadow: 0 0 3px #f5e610 , 0 0 7px #05fff3, 0 0 20px #05ed4b;
 }
.content-container{
  padding-top: 100px;
}

.gallery {
	display: grid;
	grid-template-columns: 4fr 2fr;
}
.gallery-object{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  margin-left: 20px;
}
.gallery-content{
  border: 2px solid;
  box-shadow: 5px 8px rgb(42, 91, 165);
  }
.gallery-content:hover{
  transform: translate(5px,3%);
  /* transform: skew(2deg, 2deg); */
  cursor: pointer;

}
.gallery-content img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}
.display-details{
  border: 1px solid;
  box-shadow: 5px 10px #888888;
  margin-left: 20px;
}
.display-details li {
  list-style-type: none;
  font-weight: bold;
  
}


